@font-face {
  font-family: publicSans;
  src: url("../fonts/Public_Sans/PublicSans-VariableFont_wght.ttf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: publicSans;
}

body {
  padding-bottom: 1200px;
  background-color: rgb(249, 249, 249);
}
:root {
  --main-color: rgb(255, 182, 0);
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: black;
}
.container {
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
}
/* HEADER */
/* social */
header .header-social {
  width: 100%;
  height: 70px;
  background-color: rgb(0, 0, 0);
}
header .header-social .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
/* left */
header .header-social .social-icons {
  width: 130px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-social .social-icons li {
  padding: 3px;
  position: relative;
}
header .header-social .social-icons li:hover {
  cursor: pointer;
}
header .header-social .social-icons li:hover:after {
  content: attr(data-name);
  color: white;
  background-color: rgb(73, 73, 73);
  border: 1px solid white;
  padding: 5px;
  border-radius: 2px;
  font-size: 12px;
  position: absolute;
  top: 30px;
}
header .header-social .social-icons li a i {
  color: rgb(255, 255, 255);
}
/* right */
header .header-social .social-items {
  width: 450px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .header-social .social-items li {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right: 1px solid rgb(131, 131, 131);
  padding: 0 25px;
}
header .header-social .social-items li:hover {
  background-color: rgba(180, 180, 180, 0.205);
}
header .header-social .social-items li a {
  color: rgb(194, 195, 190);
  font-size: 12px;
  font-weight: 400;
  line-height: 23px;
}

/* menu */
header .header-menu {
  width: 100%;
  height: 130px;
  background-color: var(--main-color);
}
header .header-menu .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* logo */
header .header-menu .container .logo {
  width: 30%;
}
header .header-menu .container .logo img {
  display: block;
  width: 100%;
  max-width: 270px;
}

/* menu items */
header .header-menu .container .menu-items {
  width: 60%;
  max-width: 640px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .header-menu .container .menu-items li a {
  font-size: 20px;
  font-weight: 400;
  transition: all 1s;
}
header .header-menu .container .menu-items li a:hover {
  color: white;
}

header .header-menu .container .menu-items li:first-child a {
  color: white;
}
/* MAIN */
/* Hero-section */
.hero-section {
  width: 100%;
  height: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../images/banner-01.jpg") no-repeat center center;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 700px ;
}
.hero-section .container {
  position: relative;
}
/* hero-text */
.hero-text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.hero-text .first-p {
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  color: white;
  margin-bottom: 40px;
  text-transform: uppercase;
}
.hero-text h1 {
  font-size: 68px;
  line-height: 86px;
  color: white;
}
.break {
  width: 100px;
  height: 3px;
  background-color: var(--main-color);
  margin: 25px 0;
}
.hero-text .last-p {
  font-size: 21px;
  font-weight: 400;
  line-height: 40px;
  color: rgb(252, 252, 252);
}

/* hero-cards */
.hero-cards {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 120%;
  left: 0;
}

.hero-cards .item {
  width: 33%;
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 60px;
}
.hero-cards .item img {
  display: block;
  width: 100%;
}
.hero-cards .item h2 {
  padding: 40px 0;
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
}
.hero-cards .item p {
  font-size: 20px;
  line-height: 38px;
  text-align: center;
  height: 150px;
}

.hero-cards .item .btn {
  background-color: var(--main-color);
  padding: 18px 33px;
  border-radius: 30px;
  font-size: 20px;
}

/* ready section */
.ready-section {
  width: 100%;
  height: 520px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ready-section .ready-text {
  width: 45%;
  height: 100%;
}
.ready-section .ready-text > p {
  text-transform: uppercase;
  font-size: 12px;
  padding-bottom: 20px;
}
.ready-section .ready-text h3 {
  font-size: 40px;
}
.ready-section .ready-text .ready-items {
  padding-top: 20px;
}
.ready-section .ready-text .ready-items .item {
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 14px;
  padding: 10px 0;
}
.ready-section .ready-text .ready-items .item i {
  color: var(--main-color);
  font-size: 24px;

}
.ready-section .ready-img {
  width: 40%;
  height: 100%;
  background: url(../images/info-04.jpg);
}
.ready-section .ready-img img {
  display: block;
  width: 100%;
}

/* FOOTER */

/* responsive */

@media (max-width: 1000px) {
  .container {
    width: 90%;
  }
  header .header-menu .container .menu-items {
    width: 480px;
  }

  /* hero-cards */
  .hero-cards .item {
    padding: 30px;
  }
  .hero-cards .item h2 {
    font-size: 20px;
    line-height: 32px;

    padding: 27px 0;
  }
  .hero-cards .item p {
    font-size: 16px;
    line-height: 26px;
  }
  .hero-cards .item .btn {
    font-size: 14px;
    line-height: 21px;

    padding: 12px 27px;
  }
}
@media (max-width: 830px) {
  header .header-menu .container .menu-items {
    width: 60%;
  }
  header .header-menu .container .menu-items li a {
    font-size: 15px;
  }

  /* hero-cards */
  .hero-cards .item {
    padding: 20px;
  }
  .hero-cards .item h2 {
    font-size: 18px;
    line-height: 28px;

    padding: 22px 0;
  }
  .hero-cards .item p {
    font-size: 14px;
    line-height: 21px;
  }
  .hero-cards .item .btn {
    font-size: 13px;
    padding: 10px 22px;
  }
}

@media (max-width: 768px) {
  header .header-social .social-items {
    width: 70%;
  }
  header .header-social .social-items li a {
    font-size: 11px;
  }
}

@media (max-width: 680px) {
  header .header-social .social-items {
    display: none;
  }
  header .header-menu .container .menu-items {
    display: none;
  }
}
